.home {
    width: 50%;
    margin: auto;
}

.home marquee {
    /* width: 50%; */
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px 1px;
}

.home img {
    /* height: 300px;
    width: 300px; */
    box-sizing: border-box;
    /* margin: auto; */
    margin-top: 30px;
}
